$black = #353535
$lightgray = #F1F1F1
$gray = #B2B2B2
$green = #44BF67
$lowgreen = #84D79C
$red = #BF4444
$darkgreen = #5D9B6F
$darkred = #8E2E2E
$shadow = rgba(161,161,161,1)
$tile = rgba(255,255,255,0.5)
$darktile = rgba(0,0,0,0.1)
$lighttile = rgba(255,255,255,0.9)
$redtile = rgba(120,0,0,0.1)
$greentile = rgba(0,120,0,0.1)
$bluetile = rgba(0,0,120,0.1)

.azure		{ background: #38B1CC; }
.emerald	{ background: #2CB299; }
.violet		{ background: #8E5D9F; }
.yellow		{ background: #EFC32F; }
.red		{ background: #E44C41; }
.dark		{ background: #6F6F6F; }
.darktile	{ background: $darktile; }
.greentile	{ background: $greentile; }
.redtile	{ background: $redtile; }
.bluetile	{ background: $bluetile; }
//LOADING--------------------------------------------------------------
// #pre-load-web {width:100%;position:absolute;background:#92def8;left:0px;top:0px;z-index:100000}
// aqui centramos la imagen si coloco margin left -30 es por que la imagen mide 60 
// #pre-load-web #imagen-load{left:50%;margin-left:-30px;position:absolute}
// SCROLLBAR-----------------------------------------------------------
::-webkit-scrollbar
  width 8px
  background #dbe8ec

::-webkit-scrollbar-button
  width 0px
  height 0px
  
::-webkit-scrollbar-track
  background white

::-webkit-scrollbar-thumb
  background $darktile


::-webkit-scrollbar-thumb:hover
    background $lowgreen

::-webkit-scrollbar-thumb:window-inactive
  background $darkred
//LAYOUT---------------------------------------------------------------
body
	overflow-x hidden
	font-size 16px
	font-family 'Roboto', sans-serif
	background-image url('assets/bbg.jpg')
	// background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
.section
	display flex
	min-height 100vh
	width 100vw
	overflow hidden
	justify-content space-around
.container
	position relative
	display flex
	justify-content space-around
	text-align center
	// height 100vh
	width 90vw
	background-color $tile
.containervertical
	position relative
	display flex
	justify-content space-around
	text-align center
	min-height 100vh
	width 90vw
	background-color $tile
	flex-direction column
.foto
	& img
		border 3px solid white
		box-shadow 0px 5px 30px 4px $shadow
		width 354px
		height 333px
	&-right
		display flex
		justify-content space-around
		align-items center
		flex-direction column
		& div.botones
			width 100%
			display flex
			justify-content space-around
			flex-direction row
			animation-delay .5s
		&-text
			font-size 50px
			background-color $darktile
			transition 0.5s
			padding 10vh 12vw
			&:hover
				background-color $redtile
				transition 0.5s
		& p
			width 35vw
			margin 10px 10px
.fotoh2
	& img
		border 3px solid white
		box-shadow 0px 5px 30px 4px $shadow
		width auto
		height 333px
	& h2
		font-size 50px
		background-color $darktile
		transition 0.5s
		padding 10vh 12vw
	& h2:hover
		background-color rgba(150,0,0,0.1)
		transition 0.5s
.h2contentfoto
	& img
		border 3px solid white
		box-shadow 0px 5px 30px 4px $shadow
		width auto
	& > h2
		font-size 50px
		background-color $darktile
		transition 0.5s
		padding 5vh 12vw
	& > h2:hover
		background-color rgba(150,0,0,0.1)
		transition 0.5s

//-GRIDS---------------------------------------------------------------
.gridcontainer
	width 100%
	& > div 
		float left
		display inline
		text-align center
	
.grid1 {width:7.5%}
.grid2 {width:15.5%}
.grid3 {width:24%}
.grid4 {width:32.5%}
.grid5 {width:40.5%}
.grid6 {width:49%}
.grid7 {width:57.5%}
.grid8 {width:65.5%}
.grid9 {width:74%}
.grid10 {width:82.5%}
.grid11 {width:90.5%}
.grid12 {width:100%}
/* Media queries */
@media only screen and (min-width: 1200px) {
	.gridcontainer{width:1200px;margin:0 auto;}
}
 
@media only screen and (max-width: 1200px) and (min-width: 980px) {
	.gridcontainer{width:960px;margin:0 auto;}
}
 
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.gridcontainer{width:720px;margin:0 auto;}
}
 
@media only screen and (max-width: 479px) {
	.gridcontainer{width:320px;margin:0 auto;}
	div[class*='grid'] {width:100%}
}
 
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.gridcontainer{width:480px;margin:0 auto;}
	div[class*='grid'] {width:100%}
}
//BASIC ELEMENTS-----------------------------------------------------
h1, h2, h3, h4, h5, h6
	font-family 'Lobster', cursive
	padding 0
	margin 0
	font-size 30px
	text-align center
a
	text-decoration none
	color $black
p
	color $black
.boton 
	& h2
		width 100%
		height 100%
		align-items center
		& a
			align-items center
			display flex
			justify-content center
			width 100%
			height 100%
			text-decoration none
			color $black
.menu ul
	list-style none
	position relative
	margin 0
	padding 0
	& li
		position relative
		margin 5px 5px
		width 350px
		& a
			font-family 'Lobster', cursive
			font-size 19px
			color $green
	li:hover > ul
		animation fadeIn .5s
		animation-fill-mode: forwards;
		transition .5s
		display block
		border-bottom 3px solid $black
		background-color $lighttile
		& a:hover
			color $black
			transition 0.5s
	& ul
		display none
		position absolute
		top 100%
		left 0
		padding 0
.botonsm
	margin 20px auto
	transition .5s
	border-bottom 3px solid $tile
	box-shadow 0px 5px 30px 4px $shadow
	width 45%
.botonsm:hover
	border-bottom 3px solid $black
	transition .5s
	background-color white

.desplegable 
	display none
	position absolute
	top 80vh
	overflow hidden
	text-align center
	height 120px
	width 90vw
	background-color $darktile
	& ul
		list-style-type none
		font-size 20px
		text-align center
		& li
			margin-left 20px
			display inline-flex
			padding-left 10px
	
.flexcontainer
	display flex
	justify-content space-around
	align-items center
.block
	display flex
	flex-direction column
	align-items center
	justify-content center
	text-align center
	margin 20px auto
	& h2
		font-size 28px
		color $black
	& img
		width 200px
		transition .5s
		&:hover
			transform translate(0px,-20px)
			transition .5s
.pricetable
	margin 10px 0
	box-shadow 0px 5px 30px 4px $shadow
	transition .3s
	background-color white
	height 400px
	align-items center
	display flex
	flex-direction column
	&:hover
		box-shadow 0px 5px 30px 10px $shadow
		transition .3s
	& h2
		width 100%
		background-color $green
		color white
		padding 10px 0
	& div.head
		margin 20px 0
		background-color white
		& h2
			background-color white
			color $green
			padding 0
	& div.botonsm
		background-color $green
		padding 10px
		& a
			color white
		& h2
			font-size 20px
			padding 0
	& ul
		margin 0
		padding 20px
		background-color $darktile
		list-style-type none
		& li
			text-align left
			line-height 150%
		& i
			color $green
			padding-right 5px
//PROGRESS KNOWLEDGE--------------------------------------------------------------
.bar-main-container
  margin: 5px 5px;
  height: 50px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
  & p
  	margin 0


.wrap 
	padding: 8px;
	& p
		color white

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.2);
  padding: 9px 0px;
  width: 18%;
  height: 16px;
}

.bar-container {
  float: right;
  height: 10px;
  background: rgba(0,0,0,0.2);
  width: 78%;
  margin: 8px 0px;
  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  opacity: 1;
}

//LANDING PAGE----------------------------------------------------------
.flex
	display flex
	justify-content space-around
	align-items center
	margin 8vh 0
.menustart div
	transition 0.5s
	border-left 3px solid $tile
	width 32vw
	height 20vh
	background-color $tile
	box-shadow 0px 5px 30px 4px $shadow
	display flex
	justify-content space-around
	align-items center
.menustart div:hover
	transform translate(0px,-20px)
	transition 0.5s
	border-left 3px solid $black
	background-color white

// NAV DESIGN---------------------------------------------------------------------------------------------------
.nav
	z-index 50
	display flex
	border-bottom 3px solid $black
	height 10vh
	min-height 50px
	position fixed
	width 100vw
	margin 0px auto
	background-color $tile
	box-shadow 0px 5px 30px 4px $shadow
	transition all .3s linear
	&-logo
		display flex
		flex 2
		justify-content center
		height 100%
		& i
			transition .6s linear
			margin 1vh 1vw
		&-text
			display flex
			flex-direction column
			&-name a
				transition .6s linear
				font-family 'Lobster', cursive
				font-size 25px
				color $black
	&-menu
		display flex
		justify-content center
		flex 3
		&-button
			display none

		&-list
			list-style-type none
			display flex
			justify-content center
		&-list li
			margin auto 1vh
		&-list li a
			font-family 'Roboto', sans-serif
			font-weight 900
			transition .2s linear
			padding 2.5vh 2vw
			color $black
		&-list li a:visited
			text-decoration none
			color $black
		&-list li a:hover
			color white
			background-color $lowgreen
		&-list li a:active
			transition 0s
			border-bottom 3px solid $black

//ESTILOS SUELTOS----------------------------------------------------------
#btn1
	width 24%
	animation-delay .5s
#divServices
	top 85vh
#block2 img
	animation-delay .3s
#block3 img
	animation-delay .6s
#block4 img
	animation-delay .9s
#block5 img
	animation-delay 1.2s
#projects img
	position relative
	&:hover ~ .divhover
		opacity 1
		transition .5s
.divhover
	z-index 2
	padding 10px
	text-align center
	height 220px
	opacity 0
	transition .5s
	&:hover
		opacity 1
		transition .5s
	& ul
		list-style-type none
		padding 0
	& h2
		color $black
#divhover1
	position absolute
	top 0vh
	background-color rgba(250,250,250,.8)
#divhover2
	position absolute
	top 0vh
	background-color rgba(250,250,250,.8)
input.botonsm
	animation-delay .5s
footer
	animation-delay 1.5s

//CONTACT-------------------------------------------------------------------------
.socialbuttons
	display flex
	justify-content space-around
	height 50px
	align-items center
	& i
		transition .5s
		&:hover
			color $green
			transition .5s
	& i.r
		padding 0 20px
// FORM---------------------------------------------------------------------------

/* Form element setup */
form
	width 100%
	display inline

[type='submit']
	// -webkit-appearance inherit
	background-color white
	font-family 'Lobster', cursive
	font-size 20px
	transition .2s
	padding 5px
	&:active
		background-color $green
		color white
		transition .2s


fieldset 
	width 100%
	margin 10px
	padding 0
	border none
	display inline-block

label
	padding 10px
	display block
	font-family 'Lobster', cursive
	font-size 20px
	color $black

input[type='text'], textarea, select[id="select-choice"], input[id='email']
	padding 5px
	background-color white
	border 1px solid white
	outline none
	width 100%

	&:focus
		border-color $green

textarea 
	min-height 100px
	max-width 800px
	max-height 200px

input[type='text'], select[id="select-choice"], input[id='email']
	height 30px

//CHECK FORM--------------
#sendcomplete
	opacity 0
	color $green
.sendcomplete
	opacity 1
	transition .5s
.requisites
	display block
	font-family 'Roboto'
	color transparent
	font-size 15px
	&.error
		color $red

// FOOTER DESIGN------------------------------------------------------------------
section#contact
	position relative
.footer
	width 100%
	border-top 3px solid $black
	height 60px
	background-color $tile
	flex-direction row
	display flex
	justify-content space-between
	align-items center
	transition all .3s linear
	& p
		font-family 'Lobster', cursive
		font-size 20px
		width 90%
	& div.footer-top
		position fixed
		top 94%
		right 0
		animation-delay 2s
	& i
		padding 0 10px

// MOBILE/TABLET DESIGN----------------------------------------------------------------
@media (max-width: 480px)
	body
		background-image none
		background-color #F2F2F2
	h1, h2, h3, h4, h5, h6
		font-size 20px
	.section, .containervertical
		min-height 600px
	.flex
		flex-direction column
	.menustart
		margin 0
		& div
			width 70vw
			height 15vh
			margin 1vh 0
	.foto
		& img
			width auto
			height 300px
		&-right
			width 100%
			&>h2
				padding 40px 80px
			& div.botones
				width 100%
			&-text
				font-size 40px
				width 100%
			& p
				width 80vw
	.h2contentfoto>h2
		padding 40px 80px
	.fotoh2
		margin 4vh 0
		& img
			width auto
			height 100px
		& h2
			font-size 20px
			padding 0vh 0vw
			width 150px
			height 60px
			align-items center
			display flex
			justify-content space-around
	#btn1, #btn2
		display none
	.nav
		height 70px
	#divServices
		background-color white
		top 75vh
		width 100%
		& ul
			padding 0
			font-size 15px
		& li
			margin-left 10px
			display inline-flex
			padding-left 5px
	#services 
		.block
			& h2
				font-size 20px
			& img
				display none
	.container
		flex-direction column
	#projects
		.container
			flex-direction column
			height: 75vh
		& div
			margin 5px 0
			& img
				width auto
				height 180px
	.divhover
		display none
	.pricetable
		box-shadow none
	.footer p
			font-size 15px
	fieldset.grid5, fieldset.grid8
		width 80%
	textarea
		min-height 50px
	.socialbuttons a
		font-size 15px